* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    color: white;
    background-color: blue;
}
p {
    color: white;
    background-color: red;
}

.google-link {
    color: blue;
}
.youtube-link {
    color: red;
}
.container {
    text-align: right;
}